<!-- メインのejsページにinclude -->
<!-- <div class="target">
<%- include(page.root + 'parts/_anchor', {param:'target'}); %>
</div> -->

<!-- module作成して下記記述 -->
<div id="<%- param %>" class="m-anchor"></div>


<!-- smooth-scroll.js併用時、内部からも外部からも#付き遷移を
完璧な挙動にするには、アンカー箇所を
absoluteでheader高さ分ズラした位置に置いておく方が良い。
smooth-scroll.jsにもheaderオプションでheader分の高さ調整してくれるが
それは内部遷移のときだけの話。外部からきたときはバグる。 -->

<!-- 
  .target{
    position:relative;
  }
  .m-anchor {
  width: 100%;
  height: 0;
  position: absolute;
  content: "";
  top: -80px;
  left: 0;

  @include sp {
  top: -120/750*100vw;
  }
} -->
