<div class="kv-scroll">
  <p class="kv-scroll__txt">SCROLL</p>
  <div class="kv-scroll__line"></div>
</div>


{# .kv-scroll {
  position: absolute;
  bottom: 0;
  left: 50/1366*100vw;
  z-index: 1;
  @include sp {
    bottom: 6vh;
    right: 10vw;
  }

  &__txt {
    font-size: rem(14);
    font-weight: bold;
    text-align: center;
    writing-mode: vertical-lr;
    color: #fff;
    margin-bottom: 10px;
    @include sp {
      @include vw(20);
    }
  }

  &__line {
    width: 1px;
    height: 100px;
    background-color: #555;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    @include sp {
      height: 100/750 * 100vw;
    }
    &:after {
      width: 100%;
      height: 100%;
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      background-color: #fff;
      animation: line-anim 4s ease-out infinite;
    }
  }
}

@keyframes line-anim {
  0% {
    top: -100%;
  }

  30% {
    top: 100%;
  }

  100% {
    top: 100%;
  }
} #}