<ul class="sns__wrap">
  <!-- facebookはエンコード分を入れることができない -->
  <li class="facebook">
    <a href="https://www.facebook.com/sharer/sharer.php?u=https://angelframe.jp/" target="_blank">
      <img src="<%-conf.path.img%>top/facebook.svg" alt="">
    </a>
  </li>
<!-- 「&amp;text=」の後にエンコード分を入れる -->
  <li class="twitter">
    <a href="http://twitter.com/share?url=https://angelframe.jp/&amp;text=" target="_blank">
      <img src="<%-conf.path.img%>top/twitter.svg" alt="">
    </a>
  </li>
  <!-- 「text/?」の後にエンコード分を入れる -->
  <li class="line">
    <a href="http://line.me/R/msg/text/?https%3A%2F%2Fangelframe.jp%2F" target="_blank">
      <img src="<%-conf.path.img%>top/line.svg" alt="">
    </a>
  </li>
</ul>