<div class="swiper-container">
  <ul class="swiper-wrapper">
    <li class="swiper-slide">
      <div class="">
      </div>
    </li>
  </ul>

  <div class="js-left"></div>
  <div class="js-right"></div>
</div>