<table width="100%" cellspacing="0" cellpadding="0" border="0" class="table">
  <tbody>
    <tr class="bg">
      <th width="34%" rowspan="2" class="bb">財務指標名</th>
      <th width="23%" colspan="2" class="bb bl">貴社</th>
      <th width="23%" colspan="2" class="bb bl">デフォルト企業</th>
      <th width="20%" class="bb bl bgGray">業界標準</th>
    </tr>
    <tr class="bg">
      <th width="8%" class="bb bl">得点</th>
      <th class="bb bl">指標値</th>
      <th width="8%" class="bb bl ">得点</th>
      <th class="bb bl">中央値</th>
      <th class="bb bl bgGray">中央値</th>
    </tr>

    <% var arr = [
    {
      list: [
      "自己資本比率",
      "3",
      "-12.67%",
      "4",
      "0.12%",
      "11.51%",
      ]
    },
    {
      list: [
      "流動比率",
      "3",
      "98.89%",
      "4",
      "121.96%",
      "142.86%",
      ]
    },
    {
      list: [
      "当座比率",
      "3",
      "53.69%",
      "3",
      "57.25%",
      "92.12%",
      ]
    },
  ]%>

    <% arr.forEach(function(el,i){%>
    <!-- <% i += 1 %> -->

    <tr class="dataArea">
      <% el.list.forEach(function(el2,j){%>
      <% j += 1 %>
      <% if(j !== 1){ %>
      <td class="bl"><%- el2 %></td>
      <% }else{ %>
      <td class="tl"><%- el2 %></td>
      <% } %>
      <%});%>
    </tr>

    <% }); %>

  </tbody>
</table>



.table {
  margin-top: 10px;
  border-collapse: separate;
  border-spacing: 0px;

  @include sp {
    width: 2100/750*100vw;
    margin-top: 50/750*100vw;
  }

  & th,
  & td {
    font-size: 14px;
    text-align: center;
    vertical-align: middle;

    @include sp {
      @include vw(26);
    }

    &.bb {
      border-bottom: 2px solid #fff;

      @include sp {
        border-bottom: 1px solid #fff;
      }
    }

    &.bl {
      border-left: 2px solid #fff;

      @include sp {
        border-left: 1px solid #fff;
      }
    }

    &.pt0 {
      padding-top: 0;
    }

    &.tl {
      text-align: left;
      padding-left: 25px;

      @include sp {
        padding-left: 50/750*100vw;
      }
    }
  }


  & tr {
    &.dataArea {
      &:nth-of-type(odd) {
        background-color: #F7F7F7;
      }

      &:nth-of-type(even) {
        background-color: #F2F2F2;
      }
    }
  }

  & th {
    padding: 5px 20px;
    letter-spacing: 0;
    font-weight: 500;
    color: #fff;
    background-color: #36C190;

    @include sp {
      padding: 20/750*100vw;
      white-space: nowrap;
    }

    &.bgGray {
      background-color: #A9A9A9;
    }
  }

  & td {
    padding: 6px 20px;
    letter-spacing: 0;

    @include sp {
      padding: 20/750*100vw;
      white-space: nowrap;
    }
  }

}
